<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= "#{yield_content :title} - " unless yield_content(:title).empty?  %>Andre &#9829; Lisa </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Google webfonts -->
  <link href="http://fonts.googleapis.com/css?family=Rouge+Script|Parisienne" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/modular-framework.css">
</head>

<!-- Remove class for full-width layout -->
<body class="">

  <div class="navigation top-nav outer">
    <div class="inner">
      <nav class="nav-collapse">
        <ul>
          <li>
            <h1>
              <a href="<%= locale_link %>">André og Lisa</a>
            </h1>
          </li>
          <li class="<%= current?('svar') %>">
            <a href="<%= locale_link %>svar"><%= t 'menu.answer' %></a>
          </li>
          <li class="<%= current?('onskeliste') %>">
            <a href="<%= locale_link %>onskeliste"><%= t 'menu.wishlist' %></a>
          </li>
          <li class="<%= current?('info') %>">
            <a href="<%= locale_link %>info"><%= t 'menu.info' %></a>
          </li>
          <li class="change-language  ">
            <a href="<%= t 'menu.locale_link' %>"><%= t 'menu.change_language' %></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <%= yield %>

  <footer class="outer">
    <div class="inner">
      <!-- <h3>
        Title
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p> -->
      <!-- <ul class="icon-row large">
        <li>
          <a class="white" href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a class="white" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a class="white" href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul> -->
    </div>
  </footer>


  <!-- Javascripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="/javascripts/modular-framework.js"></script>
  <script src="/javascripts/main.js"></script>

</body>
</html>
