<% content_for :title do %><%= t 'answer.title' %><% end %>
<div class="eyecatcher svar">

  <div class="ribbon">
    <h1 class="page-title"><%= t 'answer.title' %></h1>
    <form class="form" action="http://ravenform.herokuapp.com/replies" method="POST">
      <input type="hidden" name="event_id" value="3">

      <input id="name_input" type="text" placeholder="<%= t 'answer.name' %>" name="reply[17]" required=required>

      <label>
        <input id="attending_input" type="radio" name="reply[18]" value="Ja, jeg kommer" ><%= t 'answer._yes' %>
      </label>

      <label>
        <input id="not_attending_input" type="radio" name="reply[18]" value="Nei, jeg kommer ikke"><%= t 'answer._no' %>
      </label>

      <label>
        <input id="not_attending_input" type="checkbox" name="reply[24]" value="Trenger overnatting"><%= t 'answer.accommodation' %>
      </label>

      <input type="submit" id="submit_button" class="button white" value="<%= t 'answer.send' %>" />

      <div class="feedback"></div>
    </form>
    <p><%= t 'answer.note' %></p>
    <%= t 'answer.questions' %>
  </div>
</div>